@import 'tailwindcss';

@theme {
  --color-green-100: #50b2c0;
  --color-green-200: #255d6a;
  --color-green-300: #0a313c;

  --color-purple-100: #8381d9;
  --color-purple-200: #2a2879;

  --color-gray-100: #f8f9fc;
  --color-gray-200: #e6e8f2;
  --color-gray-300: #d1d6e4;
  --color-gray-400: #8d95af;
  --color-gray-500: #303f73;
  --color-gray-600: #252d4a;
  --color-gray-700: #181c2a;
  --color-gray-800: #0e1116;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: #0e1116;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a,
button {
  cursor: pointer;
}
